@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
    font-size: 20px;
}
body{
    font-family: 'Open Sans', sans-serif;
}
header .logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.user_bar{
    margin-top: -200px;
    padding: 250px;
}
.user_info li{
    text-align: left;
    padding-left: 10px;
    background-color: #efeded;
}
.rating_star_bar{
    margin-top: -450px;
    padding:250px;
}
.rating_star li{
    background-color: #efeded;
}
h1{
    font-size: 25px;
}
.footer_bar{
    background-color: #efeded;
    float:center;
    padding:15px;
}
.footer_bar p{
    text-align:center;
}